/* Hide vertical scrollbar in textarea */
textarea::-webkit-scrollbar {
  display: none;
}
textarea {
  scrollbar-width: none; /* Firefox */
}
/* Hide spinner controls for number inputs (Tailwind compatible) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
@import "tailwindcss";
@import 'typeface-poppins';


:root {
  --dark-color: #080411;
  --puprle-color: #7F6AF7;
  --white-color: #FFFFFF;
  --light-grey-color: #98A9B8;
  --light-blur-grey-color: #98a9b882;
  --light-purple-color: #7f6af766;
  --light-dark-color: #080411b3;
  --white-glass-color: #ffffff1f;
}

@font-face {
  font-family: "Expressa Serial";
  src: url("./assets/font/Expressa-Serial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Host Grotesk Variable', sans-serif;
  background-color: var(--dark-color);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--light-blur-grey-color);
  border-radius: 6px;
}

.animated-logo {
  font-family: "Expressa Serial";
}

.custom-scrollbar-hide::-webkit-scrollbar {
  width: 0px;
}
.custom-scrollbar-hide::-webkit-scrollbar-thumb {
  background: #00000000;
  border-radius: 6px;
}

/* Add this to index.css or inside a <style> block */
.swiper-pagination-bullet {
  width: 60px !important;
  height: 2px !important;
  border-radius: 0px !important;
  background-color: var(--white-color) !important; /* optional color */
  opacity: 0.4;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--puprle-color); /* or use your custom color */
}

.swiper-pagination {
  bottom: 0px !important;
}

/* For WebKit browsers (Chrome, Safari) */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* For Firefox */
.custom-scroll {
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
  scrollbar-width: none;
}
#username,#password{
  height: 45px;
  margin-top: 20px;
  border: 1px solid #ffffff26;
}
.login-form-inp-sec .button {
  margin-top: 40px;
}
.card-image{
  margin-bottom: 40px;
}


#newPassword,#confirmPassword{
  border: 1px solid #ffffff1c;
}
#newPassword{
  margin-bottom: 10px;
}



@media screen and (min-width: 200px) and (max-width: 769px)  {
  .absolute,.carousel,.lg-logo,.profile-btn-content{
    display: none;
  }
.breadcrumb{
  display: none;
}
.table-list{
  width: fit-content;
}
.search-icon{
  margin-top: 10px;
}
.mobile-table{
  display: block;
}
  .carousel-part {
    display: none;
  }
  .absolute {
    display: block;
  }
  .table-head{
    display: block;
  }
  .list-table{
    width: 100%;
  }
  .left-side{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .mobile-Head{
    width: 50%;
  }
  .header-search-box{
    display: none;
  }
  .mobile-header{
    font-size: 20px;
  }
  .add-btn{
    margin-top: 10px;
    width: 30%;
  }
  .drop-down{
    position: absolute;
    margin-right: 20px;
    margin-top: 7px;
  }
  .mobile-add,.mobile-appearance,.mobile-home-link,.mob-head{
    font-size: 10px;
  }
  .rightside-head{
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .mobile-logo{
    display: block;
  }
  
 .mobile-table
  .forgot-password{
    justify-content: center;
  }
  
  .quick-btns{
    display: none;
  }
  .nav-content{
    justify-content: end;
  }
}



@media screen and (min-width: 769px) and (max-width: 1400px)  {
  .nav-content{
    justify-content: space-between;
  }
  .mobile-logo{
    display: none;
  }
 
}